* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
overflow-x: hidden !important;
}
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  background: white;
  color: #01001B;
}


.container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container {
    @media screen and (min-width: 576px) {
      max-width: 540px;
    }
  }
  
  .container {
    @media screen and (min-width: 768px) {
      max-width: 730px;
    }
  }
  
  .container {
    @media screen and (min-width: 992px) {
      max-width: 960px;
    }
  }
  
  .container {
    @media screen and (min-width: 1200px) {
      max-width: 1140px;
    }
  }
  
  .container {
    @media screen and (min-width: 1400px) {
      max-width: 1250px;
    }
  }

  .background-ribon {
    background-image: url('/images/ribon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .background-map {
    background-image: url('/images/background-map.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .background-map2 {
    background-image: url('/images/map-blue.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 768px) {
      background-image: unset;
    }
  }

  .feature-item {
    color: gray;
    cursor: pointer;
}

.feature-item.active {
    color: black;
    font-weight: bold;
}

.side-bar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  z-index: 200;
}

.show {
  transform: translateX(0);
}



.h-atm-card {
  height: 85mm; 
}

.swiper {
  width: 100%;
  padding-top: 20px !important;
  padding-bottom: 40px !important;
}

.swiper-wrapper {
  align-items: center !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: auto !important;
  // width: 40% !important;
  height: inherit !important;
  // height: 570px !important;
  // height: 100px;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none !important;
}

.process-swiper {
  .swiper-slide {
    width: 100% !important;
  }

  @media screen and (min-width: 768px) {
    .swiper-slide {
      width: 48% !important;
    }
  }

  @media screen and (min-width: 992px) {
    .swiper-slide {
      width: 48% !important;
    }
  }
}

  